In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv(r"/home/natty/Documents/vc/Walmart_sales.csv")
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

In [2]:
#inspact the data 
df.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [5]:
# check if the data have null file 
df.isnull().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [3]:

# change the date to datetime format
df["Date"] = pd.to_datetime(df['Date'], format='mixed', dayfirst=True)

In [6]:


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   datetime64[ns]
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2)
memory usage: 402.3 KB

In [4]:
sorted_df = df.sort_values(by=['Store', 'Date'], ascending=True)

print(sorted_df)

      Store       Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0         1 2010-02-05    1643690.90             0        42.31       2.572
1         1 2010-02-12    1641957.44             1        38.51       2.548
2         1 2010-02-19    1611968.17             0        39.93       2.514
3         1 2010-02-26    1409727.59             0        46.63       2.561
4         1 2010-03-05    1554806.68             0        46.50       2.625
...     ...        ...           ...           ...          ...         ...
6430     45 2012-09-28     713173.95             0        64.88       3.997
6431     45 2012-10-05     733455.07             0        64.89       3.985
6432     45 2012-10-12     734464.36             0        54.47       4.000
6433     45 2012-10-19     718125.53             0        56.47       3.969
6434     45 2012-10-26     760281.43             0        58.85       3.882

             CPI  Unemployment
0     211.096358         8.106
1     211.242170         8.106
2     211.289143         8.106
3     211.319643         8.106
4     211.350143         8.106
...          ...           ...
6430  192.013558         8.684
6431  192.170412         8.667
6432  192.327265         8.667
6433  192.330854         8.667
6434  192.308899         8.667

[6435 rows x 8 columns]

In [5]:
# set the date format to mm-dd-yy

df['Date'] = df['Date'].dt.strftime('%m-%d-%Y')

In [6]:
# rounded to 2 decimal numbers 
df['Weekly_Sales'] = df['Weekly_Sales'].round(2)

In [7]:
df['Weekly_Sales']

0       1643690.90
1       1641957.44
2       1611968.17
3       1409727.59
4       1554806.68
           ...
6430     713173.95
6431     733455.07
6432     734464.36
6433     718125.53
6434     760281.43
Name: Weekly_Sales, Length: 6435, dtype: float64

In [7]:
# rounded to nearest whole numbers 
df['Temperature'] = df['Temperature'].round(0)

In [12]:
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,02-05-2010,1643690.90,0,42.0,2.572,211.096358,8.106
1,1,02-12-2010,1641957.44,1,39.0,2.548,211.242170,8.106
2,1,02-19-2010,1611968.17,0,40.0,2.514,211.289143,8.106
3,1,02-26-2010,1409727.59,0,47.0,2.561,211.319643,8.106
4,1,03-05-2010,1554806.68,0,46.0,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,09-28-2012,713173.95,0,65.0,3.997,192.013558,8.684
6431,45,10-05-2012,733455.07,0,65.0,3.985,192.170412,8.667
6432,45,10-12-2012,734464.36,0,54.0,4.000,192.327265,8.667
6433,45,10-19-2012,718125.53,0,56.0,3.969,192.330854,8.667
6434,45,10-26-2012,760281.43,0,59.0,3.882,192.308899,8.667

In [8]:
# rounded to 2 decimal numbers 
df['Fuel_Price'] = df['Fuel_Price'].round(2)

In [17]:
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,02-05-2010,1643690.90,0,42.0,2.57,211.096358,8.106
1,1,02-12-2010,1641957.44,1,39.0,2.55,211.242170,8.106
2,1,02-19-2010,1611968.17,0,40.0,2.51,211.289143,8.106
3,1,02-26-2010,1409727.59,0,47.0,2.56,211.319643,8.106
4,1,03-05-2010,1554806.68,0,46.0,2.62,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,09-28-2012,713173.95,0,65.0,4.00,192.013558,8.684
6431,45,10-05-2012,733455.07,0,65.0,3.98,192.170412,8.667
6432,45,10-12-2012,734464.36,0,54.0,4.00,192.327265,8.667
6433,45,10-19-2012,718125.53,0,56.0,3.97,192.330854,8.667
6434,45,10-26-2012,760281.43,0,59.0,3.88,192.308899,8.667

In [9]:
# rounded to 3 decimal numbers 

df['CPI'] = df['CPI'].round(3)

In [19]:
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,02-05-2010,1643690.90,0,42.0,2.57,211.096,8.106
1,1,02-12-2010,1641957.44,1,39.0,2.55,211.242,8.106
2,1,02-19-2010,1611968.17,0,40.0,2.51,211.289,8.106
3,1,02-26-2010,1409727.59,0,47.0,2.56,211.320,8.106
4,1,03-05-2010,1554806.68,0,46.0,2.62,211.350,8.106
...,...,...,...,...,...,...,...,...
6430,45,09-28-2012,713173.95,0,65.0,4.00,192.014,8.684
6431,45,10-05-2012,733455.07,0,65.0,3.98,192.170,8.667
6432,45,10-12-2012,734464.36,0,54.0,4.00,192.327,8.667
6433,45,10-19-2012,718125.53,0,56.0,3.97,192.331,8.667
6434,45,10-26-2012,760281.43,0,59.0,3.88,192.309,8.667

In [10]:
# rounded to 3 decimal numbers 
df['Unemployment'] = df['Unemployment'].round(3)

In [11]:
holiday_df = df[df['Holiday_Flag'] == 1]

In [48]:
holiday_df

0                                                      02
1                                                      02
2                                                      02
3                                                      02
4                                                      03
                              ...
6431                                                   10
6432                                                   10
6433                                                   10
6434                                                   10
Date    0       02
1       02
2       02
3       02
4 ...
Name: Date, Length: 6436, dtype: object

In [47]:
orted_df = holiday_df.sort_values(by=['Weekly_Sales'], ascending=False)
print(orted_df)

TypeError: Series.sort_values() got an unexpected keyword argument 'by'

In [46]:
holiday_df.describe()

count     6436
unique      13
top         04
freq       630
Name: Date, dtype: object

In [14]:
avg_weekly_sales = holiday_df['Weekly_Sales'].mean()

avg_weekly_sales

1122887.8923555557

In [66]:
sb = df[df['Holiday_Flag'] == 1]

In [68]:
holiday_impact = sb.groupby('Date')['Weekly_Sales'].mean() - avg_weekly_sales

holiday_impact

Date
02-10    -11567.716356
02-11    -70972.497022
02-12    -48739.500578
09-07    -48886.574356
09-09    -83705.058356
09-10   -108790.162578
11-25    356970.002311
11-26    339801.068533
12-30    -99722.091467
12-31   -224387.470133
Name: Weekly_Sales, dtype: float64

In [69]:
# Identify holiday with the most significant impact (positive or negative)
most_impactful_holiday = holiday_impact.idxmax() if holiday_impact.max() > 0 else holiday_impact.idxmin()
impact_value = holiday_impact.max() if holiday_impact.max() > 0 else holiday_impact.min()
s

print(f"The holiday with the most significant impact on weekly sales is '{most_impactful_holiday}', with an average difference of {impact_value:.2f} compared to the average weekly sales.")

The holiday with the most significant impact on weekly sales is '11-25', with an average difference of 356970.00 compared to the average weekly sales.